:root {
  color-scheme: light dark;
  --sans-serif-font-family: ui-sans-serif, "SF Pro", Roboto, "Fira Sans", Oxygen,
    Ubuntu, "Segoe UI", "Helvetica Neue", "Noto Sans", Arial, sans-serif;
  --text: black;

  --liquid-glass-outline: rgb(255, 255, 255, 0.5);
  --liquid-glass-primary-bg-blend-mode: color-dodge;
  --liquid-glass-secondary-bg-blend-mode: color-dodge;

  --liquid-glass-small-bg-blur-addend: 3px;
  --liquid-glass-medium-bg-blur-addend: 10px;
  --liquid-glass-large-bg-blur-addend: 12.5px;

  /* --liquid-glass-small-bg: rgb(247, 247, 247, 0.56);
  --liquid-glass-medium-bg: rgb(250, 250, 250, 0.41);
  --liquid-glass-large-bg: rgb(245, 245, 245, 0.6); */
  --liquid-glass-small-bg: rgb(247, 247, 247, 0.09);
  --liquid-glass-medium-bg: rgb(250, 250, 250, 0.07);
  --liquid-glass-large-bg: rgb(245, 245, 245, 0.1);

  --button-border-radius: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --liquid-glass-bg: rgb(0, 0, 0, 0.2);
    --text: white;

    --liquid-glass-outline: white;
    --liquid-glass-primary-bg-blend-mode: color-burn;
    --liquid-glass-secondary-bg-blend-mode: unset;

    /* --liquid-glass-small-bg: rgb(0, 0, 0, 0.37);
    --liquid-glass-medium-bg: rgb(0, 0, 0, 0.3);
    --liquid-glass-large-bg: rgb(0, 0, 0, 0.3); */
    --liquid-glass-small-bg: rgb(0, 0, 0, 0.06);
    --liquid-glass-medium-bg: rgb(0, 0, 0, 0.05);
    --liquid-glass-large-bg: rgb(0, 0, 0, 0.05);
  }
}

* {
  margin-block-end: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0px;
  margin-inline-start: 0px;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: unset;
}

body {
  align-items: center;
  background-size: cover;
  color: var(--text);
  display: flex;
  font-family: var(--sans-serif-font-family);
  font-size: 17px;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
  line-height: 22px;
  overflow: hidden;
  text-size-adjust: none;
}

button {
  /* backdrop-filter: blur(3px); */
  /* background: var(--liquid-glass-small-bg); */
  border-radius: var(--button-border-radius);
  border: unset;
  color: var(--text);
  cursor: grab;
  font-size: 17px;
  padding: 32px;
  position: absolute;
  z-index: 1;
}

button::before {
  /* pointer-events: none; */
  /* backdrop-filter: blur(calc(20px + var(--liquid-glass-small-bg-blur-addend))); */
  border-radius: var(--button-border-radius);
  content: "";
  height: 100%;
  left: 0px;
  mask-image: radial-gradient(black, transparent);
  mix-blend-mode: var(--liquid-glass-primary-bg-blend-mode);
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

button::after {
  /* backdrop-filter: blur(calc(10px + var(--liquid-glass-small-bg-blur-addend))); */
  border-radius: var(--button-border-radius);
  box-shadow: inset 1px 1px var(--liquid-glass-outline);
  content: "";
  height: 100%;
  left: 0px;
  mix-blend-mode: var(--liquid-glass-secondary-bg-blend-mode);
  opacity: 50%;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.small {
  background: var(--liquid-glass-small-bg);
}

.small::before {
  backdrop-filter: blur(calc(20px + var(--liquid-glass-small-bg-blur-addend)));
}

.small::after {
  backdrop-filter: blur(calc(10px + var(--liquid-glass-small-bg-blur-addend)));
}

.medium {
  background: var(--liquid-glass-medium-bg);
}

.medium::before {
  backdrop-filter: blur(calc(20px + var(--liquid-glass-medium-bg-blur-addend)));
}

.medium::after {
  backdrop-filter: blur(calc(10px + var(--liquid-glass-medium-bg-blur-addend)));
}

.large {
  background: var(--liquid-glass-large-bg);
}

.large::before {
  backdrop-filter: blur(calc(20px + var(--liquid-glass-large-bg-blur-addend)));
}

.large::after {
  backdrop-filter: blur(calc(10px + var(--liquid-glass-large-bg-blur-addend)));
}
